@model IEnumerable<OnnorokomWebApp.Models.Notice>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BG = "style=" + "background-color:#99ffcc";
}

<h1>Index</h1>

<h4>You have @ViewBag.UnseenCount New Notice</h4>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{int i=0;}
        @foreach (var item in Model)
        {
            if(i==ViewBag.UnseenCount){ ViewBag.BG = ""; }
            <tr  >
                <td @ViewBag.BG>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                </td>
            </tr>
            i++;
        }
    </tbody>
</table>
